<link providerId="[% conf.providerID %]">
  <resource>
  	<title>[% conf.title %]</title>
    <url>[% conf.frontdoor %]/[% id %]</url>
  </resource>
  <record>
    <source>MED</source>
    <id>[% pmid %]</id>
  </record>
</link>
